.pie-pagina{
    padding: 20px;
    background-color: #eeeeee;
}

.instagram-icono{
    font-size: 24px;
    color: red;
}

.twitter-icono{
    font-size: 24px;
    color: darkturquoise;
}

.facebook-icono{
    font-size: 24px;
    color: blue;
}